*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button{
    background-color: transparent;
    outline: none;
    border: none;
}

html, body {
    font-family: serif;
}
body {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
    position: relative;
    padding-top: 50px;
}

header{
    width: 100%;
    position: fixed;
    background-color: rgb(73, 74, 82);
    left: 0;
    top: 0;
    padding: 10px 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    z-index: 99;
}

#open-city-menu{
    cursor: pointer;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.open-city-menu-icon{
    width: 50px;
    height: 30px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    margin-right: 30px;
}

#open-city-menu p{
    font-size: 18px;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
}

#open-city-menu.open-city-menu__active .open-city-menu-icon span:nth-of-type(1){
    transform: rotate(45deg);
    transform-origin: 0;
    transition: all .5s ease-in;
}

#open-city-menu.open-city-menu__active .open-city-menu-icon span:nth-of-type(2){
    transform: translateX(-30px);
    transform-origin: right;
    opacity: 0;
    transition: all .2s ease-in;
}

#open-city-menu.open-city-menu__active .open-city-menu-icon span:nth-of-type(3){
    transform: rotate(-45deg);
    transform-origin: 0;
    transition: all .5s ease-in;
}

#open-city-menu .open-city-menu-icon span{
    height: 1px;
    background-color: rgb(255, 255, 255);
    transition: all .5s ease-in;
}

#open-city-menu span:nth-of-type(1),
#open-city-menu span:nth-of-type(3){
    width: 100%;
}

#open-city-menu span:nth-of-type(2){
    width: 50%;
}

#show-City{
    width: 100%;
    padding: 24px;
    font-size: 24px;
    text-transform: uppercase;
    background-color: lightgreen;
    color: rgb(73, 74, 82);
    border: 1px solid rgb(73, 74, 82);
    margin-bottom: 40px;
    cursor: pointer;
}

.weather-in-header{
    width: 15%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

p.weather-city-in-header{
    font-size: 16px;
    text-transform: uppercase;
    color: rgb(183, 155, 93);
}

p.weather-country-in-header{
    font-size: 16px;
    text-transform: lowercase;
    color: yellow;
}

.section-weather{
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 70%;
    background-color: rgba(0, 0, 0, 0.6);
    border: 1px solid rgb(183, 155, 93);
    padding: 50px 20px;
    margin: 50px auto 0 auto;
    transition: all .5s ease;
    z-index: 9;
}

#section-weather-five-day-items{
    width: 70%;
    margin-top: 0;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.6);
    border: 1px solid rgb(183, 155, 93);
    padding: 50px 20px;
    margin: 0 auto 0 auto;
    transition: all .5s ease;
}

.section-weather-five-day-items__item{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-around;
    border-bottom: 1px solid rgb(183, 155, 93);
    box-sizing: border-box;
}

.section-weather-five-day-items__item:first-of-type{
    border-top: 1px solid rgb(183, 155, 93);
}

.section-weather-five-day-items__item div{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-right: 1px solid rgb(183, 155, 93);
    padding: 12px 8px;
}

.section-weather-five-day-items__item div:first-of-type{
    border-left: 1px solid rgb(183, 155, 93);
}

.section-weather-five-day-items__number,
.section-weather-five-day-items__country{
    width: 5%;
}
.section-weather-five-day-items__temperature,
.section-weather-five-day-items__wind{
    width: 10%;
}


.section-weather-five-day-items__city,
.section-weather-five-day-items__img{
    width: 20%;
}

.section-weather-five-day-items__item div.section-weather-five-day-items__img{
    padding: 0;
}

.section-weather-five-day-items__img img{
    height: 100%;
    padding: 0;
    margin: 0 auto;
    box-sizing: border-box;
}

.section-weather-five-day-items__data-time,
.section-weather-five-day-items__cloud{
    width: 15%;
}

.section-weather__get,
.section-weather__item {
    width: 100%;
}

.section-weather__item p{
    font-size: 24px;
    margin-bottom: 20px;
}

.section-weather__item{
    padding: 20px 10px;
    border-bottom: 1px solid rgb(183, 155, 93);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all .5s ease;
}

.section-weather__item:last-of-type{
    border-bottom: none;
}

#section-weather-five-day-items h2{
    width: 100%;
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
}

#items-big-city p{
    color: rgb(73, 74, 82);
}

.section-weather > .section-weather__item{
    border-bottom: none;
}

.btn{
    width: 100%;
    padding: 20px 0;
    color: rgb(73, 74, 82);
    background-color: lightgreen;
    border-radius: 5px;
    font-size: 14px;
    text-transform: uppercase;
    cursor: pointer;
    border: 1px solid rgb(73, 74, 82);
    transition: all .2s ease;
}

.btn:hover{
    opacity: 0.7;
    transition: all .2s ease;
}

p.weather-city{
    font-size: 52px;
    text-transform: uppercase;
    font-weight: 700;
    color: rgb(183, 155, 93);
    text-align: center;
}

.section-weather__item > span{
    color: yellow;
    font-size: 20px;
}

p.weather-temperature{
    font-size: 36px;
    font-weight: 400;
}

.temp-min-max{
    width: 65%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.temp-min-max p{
    font-size: 14px;
}

.temp-min-max p span{
    font-size: 18px;
}

#items-big-city{
    background-color: rgb(250, 248, 244);
    border-right: 1px solid rgb(73, 74, 82);
    border-bottom: 1px solid rgb(73, 74, 82);
    width: 22%;
    position: fixed;
    /* min-height: calc(100vh - 50px); */
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    opacity: 0;
    left: 0;
    top: 50px;
    transition: all .5s ease-in;
    padding: 50px 20px;
}

#items-big-city.items-big-city__content{
    min-height: calc(100vh - 50px);
    height: calc(100% - 50px);
    overflow-y: auto;
    opacity: 1;
    display: flex;
    transition: all .5s ease-in;
}

.items-big-city__item{
    padding-bottom: 20px;
}

.items-big-city__item label{
    font-size: 18px;
    text-transform: uppercase;
    color: rgb(73, 74, 82);
    position: relative;
    padding-left: 20px;
    cursor: pointer;
}

.items-big-city__item input{
    display: none;
}

.items-big-city__item label::before{
    content: "";
    position: absolute;
    left: 0;
    top: calc(50% - 7px);
    height: 12px;
    width: 12px;
    border: 1px solid rgb(73, 74, 82);
}

.items-big-city__item input:checked + label::after{
    content: "";
    position: absolute;
    left: 3px;
    top: calc(50% - 4px);
    width: 8px;
    height: 8px;
    background-color: rgb(183, 155, 93);
}

#name-city{
    width: 100%;
    padding: 15px;
    background-color: rgb(250, 248, 244);
    font-size: 14px;
    text-transform: uppercase;
    outline: none;
    border: 1px solid rgb(183, 155, 93);
}

